body {

    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://source.unsplash.com/random/800×600/?Oil-On-Water);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}
video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
